body{
    background-color: gold;
}
.head{
    height: 80px;
    width:100%;
    background-color: white ;
    border: solid 2px black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}
.img{
    width: 500px;
    height: 500px;
    margin:100px 50px;
}

.cource{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 150px;
}
.foot{
    height: 100px;
    width:100%;
    background-color: white ;
    border: solid 2px black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}